*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

.main-container {
  position: relative;
  display: flex;
  background: white;
  flex-flow: column;
  margin-left: 1rem;
  align-items: center;
  width: 25rem;
  height: 35rem;

  .header-container {
    margin: 3rem 0 2rem 0;
  }
}

.message-container {
  width: 15rem;
  text-align: center;

  .message {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
  }
}

.button-container {
  position: absolute;
  bottom: 5rem;
}

button {
  border: none;
  outline: none;
  display: inline-block;
  padding: 0.5rem 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;

  &:hover {
    background-color: #4095c6;
  }

  &:focus {
    outline: none;
    outline: 0 !important;
  }

  &:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */

    @media all and (max-width: 30em) {
      button {
        display: block;
        margin: 0.2em auto;
      }
    }
  }
}
